.App {
    text-align: center;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #0f121e;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #161b29;
}

*::-webkit-scrollbar-thumb {
    background-color: #2d354b;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.App {
    max-width: 2000px;
    margin: 0 auto;
}